/* Reset */
* {
  box-sizing: border-box;
}

/* Page background */
body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main container */
.container {
  max-width: 850px;
  margin: 50px auto;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-sh
